<div class="container emp-profile">
    <section>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                   {{!-- <img src="{{ removeFirst6Char  profile_detail.photo.0.path}}" alt="profile_pic" /> ----}}

                    {{#if profile_detail.photo}}
                    <td><img src="{{removeFirst6Char profile_detail.photo.0.path}}" /></td>
                    {{else}}
                    <td><img src="../../images/default-avatar.jpg" alt="default" /></td>
                    {{/if}}
                   
                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h5>
                        {{profile_detail.firstname}} {{profile_detail.lastname}}
                    </h5>
                    <h6>
                        {{profile_detail.designation}}
                    </h6>
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Timeline</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="btn-group">
               <a class="btn btn-secondary" href="/profile/edit-profile/{{profile_detail._id}}">Edit Profile</a>
               <form action="/profile/profile-delete/{{profile_detail._id}}?_method=DELETE" method="POST" >
               <input type="hidden" name="_method" value="DELETE" />
               <button class="btn btn-danger">Delete</button>
               </form>
             </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>WORK LINK</p>
                    <a href="">Website Link</a><br />
                    <a href="">Bootsnipp Profile</a><br />
                    <a href="">Bootply Profile</a>
                    <p>SKILLS</p>
                    <a href="">{{profile_detail.skills}}</a><br />

                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Profile id</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile_detail._id}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile_detail.firstname}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>phone number</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile_detail.phone}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Gender</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile_detail.gender}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile_detail.address}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Alternate Address</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile_detail.alt_address}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Country</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile_detail.country}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Pincode</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile_detail.pincode}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>LandMark</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{profile_detail.landmark}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Experience</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Hourly Rate</label>
                            </div>
                            <div class="col-md-6">
                                <p>10$/hr</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Total Projects</label>
                            </div>
                            <div class="col-md-6">
                                <p>230</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>English Level</label>
                            </div>
                            <div class="col-md-6">
                                <p>Expert</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Availability</label>
                            </div>
                            <div class="col-md-6">
                                <p>6 months</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Your Bio</label><br />
                                <p>Your detail description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>